<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.xiaoguikeji.flutter.screen.flutter_screen_orientation_example">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
